* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#game-canvas {
	width: 800px;
	height: 600px;
	border: solid 1px black;
}
@keyframes rainbow {
	0% {color: red;}
	14% {color: orange;}
	28% {color: yellow;}
	42% {color: green;}
	66% {color: blue;}
	84% {color: indigo;}
	100% {color: violet;}
}
h1 {
color: red;
font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
font-size: 3em;
animation:rainbow 5s infinite alternate-reverse;
}
